body {
  background: #d9dbdd;
  background: white;
  font-family: sans-serif;
}

.mi-chord {
  background-color: white;
  width: 500px;
  height: 500px;
}

.participants {
  transform: translate(250px, 250px);
}

.participant {
  // fill: #cacaca;
  transition: all 150ms ease-in;
  stroke: #3e3e3e;
  stroke-width: 1;
  opacity: 0.9;
}

.participantUnknown {
  // fill: #cacaca;
  transition: all 150ms ease-in;
  stroke: #3e3e3e;
  stroke-width: 1;
  opacity: 0.5;
}

.participantLabel {
  font-size: 0.8em;
}

.region {
  fill: white;
  opacity: 0.3;
}

.tick {
  stroke: black;
  stroke-width: 1;
  pointer-events: none;
  opacity: 0.4;
}

.tooltip {

  pointer-events: none;

  .container {
    fill: white;
    stroke: grey;
    stroke-width: 1;
    opacity: 0.7;
  }

  .labelHeading {
    // fill: red;
  }
  // opacity: 0.5;
}

.link {
  // fill: deepskyblue;
  // fill: none;
  transition: all 150ms ease-in;
  stroke: #bebebe;
  stroke-width: 1;
  opacity: 0.5;
}

.label {
  z-index: 9999;
}

.labelTitle {
  font-size: 0.8em;
  font-weight: bold;
}

.labelSub {
  font-size: 0.8em;
}

.annotation {

  text {
    // color: red;
    fill: black;
    // stroke: white;
    // stroke-width: 0.25;

  }

  circle {
    fill: red;
    fill-opacity: 0.2;
    stroke: red;
    stroke-width: 1;
  }

}

.unknown {
  fill: white;
  stroke: black;
  stroke-width: 1;
}

.unknownLabel {
  font-size: 0.7em;
  fill: black;
}

.nolenpart {
  fill: white;
  stroke: #3e3e3e;
  stroke-width: 1;
  opacity: 0.8;
}


#dashboard {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    transition: all 150ms ease-in;
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    background-color: #f0f0f0;
    &:hover {
      background-color: deepskyblue;
      color: white;
    }

  }
}
