body {
  background: #d9dbdd;
}

.mi-chord {
  background-color: white;
  width: 500px;
  height: 500px;
}

.participants {
  transform: translate(250px, 250px);
}

.participant {
  fill: #cacaca;
  stroke: #3e3e3e;
  stroke-width: 1;
  opacity: 0.8;
}

.a16 {
  fill: red;
}
