body {
  background: #d9dbdd;
  background: white;
  font-family: sans-serif;
}
.mi-chord {
  background-color: white;
  width: 800px;
  height: 800px;
}
.participants {
  transform: translate(250px, 250px);
}
.participant {
  transition: all 150ms ease-in;
  stroke: #3e3e3e;
  stroke-width: 0.6;
  fill: white;
}
.focused {
  fill: deepskyblue;
}
.participantUnknown {
  transition: all 150ms ease-in;
  stroke: #3e3e3e;
  stroke-width: 0.6;
  fill: white;
}
.participantLabel {
  font-size: 0.6em;
}
.region {
  fill: #8c6eaa;
}
.tick {
  stroke: black;
  stroke-width: 0.6;
  pointer-events: none;
}
.tooltip {
  pointer-events: none;
}
.tooltip .container {
  fill: white;
  stroke: grey;
  stroke-width: 1;
  opacity: 0.7;
}
.link {
  transition: all 150ms ease-in;
  opacity: 0.6;
  fill: #e08214;
  stroke: #a08214;
  stroke-width: 0.6;
}
.emptyLink {
  stroke: #3c3c3c;
  opacity: 1;
  stroke: #a08214;
  stroke-width: 0.6;
}
.label {
  z-index: 9999;
}
.labelTitle {
  font-size: 0.8em;
  font-weight: bold;
}
.labelSub {
  font-size: 0.8em;
}
.annotation text {
  fill: black;
}
.annotation circle {
  fill: red;
  fill-opacity: 0.2;
  stroke: red;
  stroke-width: 1;
}
.unknown {
  fill: white;
  stroke: black;
  stroke-width: 1;
}
.unknownLabel {
  font-size: 0.6em;
  fill: black;
  text-anchor: middle;
  alignment-baseline: middle;
}
.nolenpart {
  fill: white;
  stroke: black;
  stroke-width: 0.6;
}
#dashboard {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#dashboard li {
  float: left;
  transition: all 150ms ease-in;
  border: 1px solid #d3d3d3;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
  background-color: #f0f0f0;
}
#dashboard li:hover {
  background-color: deepskyblue;
  color: white;
}
